##########################################################
##
## This file contains rules for file pattern matches
## which git will ignore.
##
##	see: man git-ignore
##
## Author:  WilberTian
##
##########################################################


##########################################################
##    node modules
##########################################################
node_modules/


##########################################################
##    npm debug file
##########################################################
npm-debug.log


##########################################################
##    build file
##########################################################
dist/

.DS_Store

